<div class="book">
    <h3 class = "book_tile">{{book["title"]}}</h3>
    {% if book["subtitle"] != ""    %}
        <h4 class  = "book_subtitle">{{book["subtitle"]}}</h4>
    {% end %}
    <img src="{{book["image"]}}" class = "book_image"/>
    <div class="book_details">
        <div class="book_data_released">Release: {{book["data_released"]}}</div>
        <div class="book_data_added">
            Added: {{local.format_data(book["data_added"], relative=False)}}
        </div>
        <h5>Description:</h5>
        <div class="book_body">{% raw book["description"] %}</div>
    </div>
</div>